header {
  height: 15vh;
  background-color: rgb(25, 112, 146);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.header-img {
  width: 200px;
  height: 150px;
}

.header-para {
  color: rgb(200, 158, 40);
  font-size: 2rem;
}
.meme-section {
  width: 800px;
  padding: 30px;
  margin: 40px auto;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.meme-box {
  position: relative;
}
.meme-box > img {
  width: 100%;
  border-radius: 2%;
}

.meme-box .top-text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 10%; /* Adjust this value to move the positioned div up and down */
  background: rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: rgb(236, 248, 247);
  width: 60%;
  border-radius: 20%;
  /* Set the width of the positioned div */
}
.meme-box .bottom-text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 80%; /* Adjust this value to move the positioned div up and down */
  background: rgba(8, 93, 86, 0.1);
  font-family: Arial, sans-serif;
  color: rgb(236, 248, 247);
  width: 60%; /* Set the width of the positioned div */
  border-radius: 20%;
}
.meme-box > h2 {
  font-size: 3rem;
}
